<!DOCTYPE html>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script><html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<div th:insert="com/header.html" ></div>
 
	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-50 p-b-30">
			<form th:action="@{searchPass}" method="get" class="login100-form validate-form">
			
			
				<div style="color: #ac2925">
                      <div style="text-align: center;">Send temporary password by email</div>
                    </div><br>

				<div class="wrap-input100 validate-input m-b-20">
					<input id="email" class="input100" type="text" name="email" placeholder="Please enter your email">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-25">
					<input id="name" class="input100" type="text" name="name" placeholder="Please enter your name">
					<span class="focus-input100"></span>
				</div>
				
				<br>
				<div class="container-login100-form-btn">
					<button type="button" class="login100-form-btn" id="checkEmail">
						Send Email
					</button>
				</div>
				<div class="text-center small mt-2" id="checkMsg" style="color: red"></div>

				<div class="text-center">
					<a sec:authorize="isAnonymous()" th:href="@{user/login}" class="txt2 hov1">
						Cancel
					</a>
				</div>
			</form>			
		</div>
	</div>
	
	<script>

    $('.modal').on('hidden.bs.modal', function (e) {
        console.log('modal close');
        $(this).find('form')[0].reset()
    });
    
    $("#checkEmail").click(function () {
        let email = $("#email").val();
        let name = $("#name").val();

        $.ajax({
            type: "GET",
            url: "/check/findPw",
            data: {
                "email": email,
                "name": name
            },
           
            success: function (res) {
                if (res['check']) {
                    swal("발송 완료!", "입력하신 이메일로 임시비밀번호가 발송되었습니다.", "success").then(function(OK) {
                        if(OK) {
                        
                            $.ajax({
                                type: "POST",
                                url: "/check/findPw/sendEmail",
                                data: {
                                    "email": email,
                                    "name": name
                                },
                                
								success: function (res) {
									window.location = "/user/login";
								}
								
                            })
                            
                        }

                    }
                )
                    $('#checkMsg').html('<p style="color:darkblue"></p>');
                } else {
                    $('#checkMsg').html('<p style="color:red">일치하는 정보가 없습니다.</p>');
                }
            }
        })
    })
</script>
	
	

	
	<div th:insert="com/footer.html" ></div>
</body>
</html>