<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시판 - 글 수정</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
</head>
<body>
<header th:insert="com/header.html"></header>
<br><br><br>
<div class="container">
    <form th:action="@{'/createwill/edit/' + ${post.no}}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="no" th:value="${post.no}"/>
         <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>아이디</strong></label>
            <div class="col-sm-4">
                <input type="text" name="memberId" class="form-control" id="inputTitle" th:value="${post.memberId}" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" id="inputTitle" th:value="${post.title}" required="required">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputContent" class="col-sm-2 col-form-label"><strong>내용</strong></label>
            <div class="col-sm-10">
                <textarea type="text" name="content" class="form-control" id="inputContent" th:placeholder="${post.content}" style="height: 400px" required="required"></textarea>
            </div>
        </div>
          <div class="form-group row">
            <label for="inputFile" class="col-sm-2 col-form-label"><strong>첨부 파일</strong></label>
            <div class="col-sm-10">
                <div class="custom-file" id="inputFile">
                    <input name="file" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputFile" class="col-sm-2 col-form-label"><strong>등록된 파일</strong></label>
            <div class="col-sm-10">
                <div class="custom-file" id="inputFile">
                    <a class="card-text" th:href="@{'/download/' + ${post.fileId}}" th:text="${file.origFilename}"></a>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <input class="btn btn-primary" type="submit" role="button" value="수정">
                <a class="btn btn-primary" th:href="@{/user/will/list}" role="button">취소</a>
            </div>
        </div>
    </form>
</div>
<footer th:insert="com/footer.html"></footer>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>