<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../static/css/myinfo.css" rel="stylesheet" th:href="@{/css/myinfo.css}" /> 



<head>
    <meta charset="UTF-8">
    <link href="../static/css/myinfo.css" rel="stylesheet" th:href="@{/css/myinfo.css}" /> 
    <title>Will : 마이 페이지</title>
</head>
<body>

<div th:insert="com/header"></div>

    
    <div id="pr1" class="widget smk_sidebar_4zz4 widget_nav_menu"><h3 class="title"><span></span></h3><br><br>
    
    
    
    
    <hgroup id="pag" class=myinfomypage >
    	<h5><strong> 마이 페이지 </strong></h5>
    </hgroup>

		<form th:action="@{'/resignup/' + ${currentUser.no}}" method="get"  style='line-height:1em'>
			
			<input class=animationbutton type="submit" value="회원정보 수정"
				th:onclick="loction.herf='@{'/resignup/update/' + ${currentUser.no}}'">
		</form>&nbsp;


		<form th:action="@{'/repass/' + ${currentUser.no}}" method="get" style='line-height:5em'>
		<input  class=animationbutton type="submit" value="비밀번호 변경" th:onclick="loction.herf=''">
		</form>&nbsp;
		
		<form th:action="@{/user/QnA/list}" method="get" style='line-height:1em; box-sizing: 150px'>
		<input  class=animationbutton  type="submit" value="Q&A" th:onclick="loction.herf=''">
		</form>&nbsp;
		
		<form th:action="@{/user/will/list}" method="get" style='line-height:5em'>
	<input  class=animationbutton  type="submit" value="진행상황 보기" th:onclick="loction.herf=''">
		</form>&nbsp;
    
    </div>
    
</body>
</html>
