@charset "UTF-8";

#header {
	 
	 text-align: center;
}

#langSelect {
	
	margin-right: 100px;
	margin-left: 800px;
	border: 8px solid sky blue;
}

#chk_all{
	
	margin-right: 10px;
	margin-left: 350px;
	
}



.input_chk {
	
	    margin-left: -200px;
}

.terms_bx{
	margin-left: 200px;
	margin-right:250px;
}

.terms_bx_list{
	list-style-type:none;
}
.terms_box{
	background-color: white;
	overflow-x: hidden;
  	overflow-y: auto;
	height:300px;
	width: 750px;
	margin-left: auto;
    margin-right: 100px;
}
.article{
	
	width: 650px;
	height: auto;
	margin-right: 500px;
	margin-left: 10px;
}

.article__title{
	
	
	width: 600px;
	height: auto;
    margin-left: 450px;
	margin-right: auto;
	
}


.div {
	
	margin-right: 400px;
}



.article__title {
   width: auto;;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}


.article__text {
   width: 650px;
	height: auto;
	margin-left: 6px;
	margin-right: 6px;
	
}

.btn_area double{
	margin-top: 30px;
}


.animationbutton{
  background:#80cbc4;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-left: 270px;
}
.animationbutton:hover{
  background:#fff;
  color:#1AAB8A;
}
.animationbutton:before,.animationbutton:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.animationbutton:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.animationbutton:hover:before,.animationbutton:hover:after{
  width:100%;
  transition:800ms ease all;
}




input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


 select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}


html {
		box-sizing: border-box;
		overflow:auto; 
	/* 	height: 2000px; */
	
		
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #eeeeee;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}
		
		
	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 1400px;
	}

		.container.medium {
			width: 1050px;
		}

		@media screen and (max-width: 1680px) {

			.container {
				width: 1200px;
			}

				.container.medium {
					width: 900px;
				}

		}

		@media screen and (max-width: 1280px) {

			.container {
				width: 960px;
			}

				.container.medium {
					width: 735px;
				}

		}

		@media screen and (max-width: 980px) {

			.container {
				width: 95%;
			}

				.container.medium {
					width: 71.25%;
				}

		}

		@media screen and (max-width: 840px) {

			.container {
				width: 95%;
			}

				.container.medium {
					width: 95%;
				}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: 100%;
			}

				.container.medium {
					width: 100%;
				}

		}