<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
 <title>Will : 절차안내</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link  href="../static/css/main.css" rel="stylesheet"  th:href="@{/css/main.css}" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css"  th:href="@{/css/noscript.css}"/></noscript>
	</head>
<body class="index is-preload">
	<form th:action="@{/guidance}" method="post"></form>
		 <div id="page-wrapper">
				<header th:insert="com/header.html"></header>
				<article id="main">
					<header class="special container">
						<a th:href="@{'/'}"><img src="/images/logo.jpg" width="90px" height="80px" alt="" style=" position: absolute; top: 0px;"/></a>
						<img src="images/law.png" width="80px" height="80px" alt="" />
						<h2><strong>Will 절차안내</strong></h2>
					</header>

					<!-- one있던자리 -->
						<section class="wrapper style4 container">
							<div class="row gtr-150">
								<div class="col-4 col-12-narrower">
										<div class="sidebar">
											<section>
												<header>
												</header>
												<p style="border-bottom: solid; color:cadetblue;"><h3><strong>공증이란</strong></h3></p>
												<footer>
												<!-- 	<ul class="buttons">
														<li><a href="#" class="button small">Learn More</a></li>
													</ul> -->
												</footer>
											</section>

											<section>
												
												<header>
													<h3><strong>유언장이란</strong></h3>
												</header>
												
												<!-- <footer>
													<ul class="buttons">
														<li><a href="#" class="button small">Learn More</a></li>
													</ul>
												</footer> -->
											</section>
										</div>

								</div>
								<div class="col-8 col-12-narrower imp-narrower">

										<div class="content">
											<section>
												
												<header>
													<h3><!-- 제목 --></h3>
												</header>
												<p>중요한 거래에 관하여 증거를 만들어 둠으로써 후일 발생할 분쟁을 적은 비용으로 사전에 예방하거나, 
												소송 전 단계에서 권리자의 금전채권에 관한 권리실행을 신속하게 하기 위하여 공증인이 사실을 증명하여 주는 제도입니다.
												</p>
												 </section>
												 <p>
										            사후를 예상하여 남겨진 이들을 위해 단독 의사표현을 기록한 내용
                                                    유언은 유언자의 진의를 확보하기 위하여 엄격한 방식에 의하여 작성한다</p><!-- 1단락 -->
                                                    <br>
                                                    
												<h3><strong>Will 절차</strong></h3>
												<p>회원 가입 및 로그인 </p>
												<p style="color: cadetblue;">⬇</p>
												<p>문서 작성</p>
												<p style="color: cadetblue;">⬇</p>
												<p>변호사 및 증인 등록</p>
												<p style="color: cadetblue;">⬇</p>
												<p>전자 서명</p>
												<p style="color: cadetblue;">⬇</p>
												<p>스마트 컨트랙트</p>
												<p style="border-bottom: solid; border-color:cadetblue;"></p>
											
										</div>

								</div>
							</div>
						</section>

					
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="col-4 col-12-narrower" style="background-color:aliceblue;border-top: solid; border-color:cadetblue;">

									<section>
										<header >
											<h3><strong>유서 작성</strong></h3>
										</header>
										<p>기존 종이에 쓰고 변호사와 증인등 대면 하였지만 비대면으로 전자 문서화 할 수있는 기능입니다.</p>
										<img alt="" src="../images/digital.png" width="90px"height="90px" style="margin-top: 50px">
										<!-- <footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer> -->
									</section>

								</div>
								<div class="col-4 col-12-narrower"style="background-color: aliceblue;">

									<section>
										<header>
											<h3><strong>변호사/증인 등록</strong></h3>
										</header>
										<p>법적으로 유서에 증인을 필히 등록하여야 하는데 전자로 증인 뿐만 아니라 변호사 등록을 하여 관리 및 Q&ampA를 통한 소통이 가능한 기술입니다.</p>
										<img alt="" src="../images/enrollment.png" width="90px"height="90px" style="margin-top: 30px">
										<!-- <footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer> -->
									</section>

								</div>
								<div class="col-4 col-12-narrower" style="background-color: aliceblue;border-bottom: solid; border-color:cadetblue;">

									<section>
										<header>
											<h3><strong>전자 서명</strong></h3>
										</header>
										<p>기존은 종이문서에 서명 혹은 인감을 쓰였지만 전자 서명은 전자 문서에 서명을 입력시켜
										 서명한 사람이 누구인지 확인 가능하여 위,변조 사실을 바로 알수 있는 특수 형태의 디지털 정보 기술입니다.</p>
										 <img alt="" src="../images/elec sign.png" width="90px"height="90px">
										<!-- <footer>
											<ul class="buttons">
												<li><a href="#" class="button small">Learn More</a></li>
											</ul>
										</footer> -->
										
									</section>

								</div>
							</div>
						</section>

				</article>

			
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands circle fa-google-plus-g"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon brands circle fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands circle fa-dribbble"><span class="label">Dribbble</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					 </ul>
					 cons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                      아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon"> www.flaticon.com</a>
				</footer>
				
				
Scripts
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

			</div> 
			
			
	
			
			
			
			
			
			
			
</form>
</body>
</html>